<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Площадка продажи машин</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#filter").on("change", function () {
                var dop = document.getElementById("filter").value;
                if (dop === 'currentManufacturer') {
                    readData();
                }
            });
        });


        function readData() {
            $.ajax({
                method: "get",
                url: "manufacturer",
                contentType: "text/json",
                complete: function (data) {
                    var json = JSON.parse(data.responseText);
                    var $jsontwo = $("#manufacturers");
                    $jsontwo.empty();
                    $.each(json, function (index, value) {
                        $jsontwo.append("<option value=" + value + ">" + value + "</option>");
                    });

                }
            })
        }
    </script>
</head>
<body>
<p th:if="${error}" style="background-color: red" class="error" th:text="${error}">...</p>
<p th:if="${carUpdate}" style="background-color: green" class="add" th:text="${carUpdate}">...</p>

<div class="container-fluid">
</div>
<br>

<div class="container">
    <form class="form-inline" action="logout" method="post" id="logout">
        <button type="submit" class="btn btn-primary">Logout</button>
    </form>

    <div class="container">
        <form class="form-inline" action="carslist" method="get">
            <div class="form-group">

            </div>
            <div class="form-group">
                <select class="form-control" name="filter" id="filter">
                    <option value="allCars" selected>Показать все объявления</option>
                    <option value="lastDay">Объявления за последний день</option>
                    <option value="withPhoto">Объявления с фото</option>
                    <option value="currentManufacturer">Конкретного производителя</option>
                </select>
            </div>
            <select class="form-control" name="manufacturers" id="manufacturers">
            </select>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <h2> Список машин на продажу:</h2>
    <table class="table table-bordered" id='table'>
        <thead>
        <tr>
            <th>Фото</th>
            <th>Марка</th>
            <th>Модель</th>
            <th>Пробег</th>
            <th>Цена</th>
            <th>Год выпуска</th>
            <th>Характеристики</th>
            <th>Продается</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${allCars}">
            <td>
                <img th:src="@{'/photo?carId='} + ${car.id}"
                     alt="Фото" width="100%"></td>
            <td th:text="${car.manufacturer}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.mileage}"></td>
            <td th:text="${car.price}"></td>
            <td th:text="${car.productionYear}"></td>
            <td th:text="${car.carBody} + ', объем двигателя:' + ${car.engine} + ' л,трансмиссия:' + ${car.transmission} + ', ' + ${car.description}">
            <td>
                <span th:if="${car.onSale}">Да </span>
                <span th:unless="${car.onSale}">Нет</span>
            </td>
            <td>
                <form action="update" method="post">
                    <input type="hidden" name="carId" th:value="${car.id}">
                    <button type="submit" class="btn btn-primary">Изменить статус объявления</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <form class="form-inline" action="add" method="get" title="Добавить новое объявление"
          id="formAdd">
        <button type="submit" class="btn btn-primary">Добавить объявление</button>
    </form>
</div>
</body>
</html>
